body { 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
}

#wrapper {
    background-image: url(imgs/signupbg1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro {
    display: inline-block;
    float: right;
    margin-right: 10%;
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#body {
    margin: 0;
    padding: 0;
}

#sep {
    /* display: inline-block; */
    width: 2px;
    height: 500px;
    background-color: whitesmoke;
}

#card{
    display: inline-block;
    height: 110%;
    width: 30%;
    background-color: rebeccapurple;
    border-radius: 10px;
    box-shadow: black 2px 2px 20px 0px;
    flex-direction: column;
    justify-content: end;
    margin-left: 10%;
}
#card-title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;

}
.input-label {
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    margin-bottom: 5px;
}
.input-wrapper {
    padding-left: 20px;
    padding-right: 30px;
}
.input-con input{
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
}
#button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#button-wrapper button {
    background-color: darkblue;
    cursor: pointer;
    outline: none;
    border: 0px;
    border-radius: 100px;
    height: 45px;
    width: 100px;
    color: white;
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
    transition: all 0.3s;
}

#button-wrapper button:hover {
    opacity: 0.7;
}

#button-wrapper button:active {
    opacity: 0.5;
}

#error-mess{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

#log-in {
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}