.tasker ul, .tasker li,
.tasker .error,
.tasker button,
.tasker input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

body {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

.tasker-header button, .tasker-body .task button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.tasker {
  max-width: 400px;
  margin: 0 auto;
}

.tasker .error {
  display: none;
  background: rgba(237, 28, 36, 0.7);
  color: #fff;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.tasker ul {
  background: #fff;
  border: 2px 2px 2px black;
}

.tasker li,
.tasker .error,
.tasker button,
.tasker input {
  font: 18px/1.25em 'Barlow Semi Condensed', sans-serif;
  
}

#tasks {
  border: 2px 2px 2px black;
}

.tasker-header {
  display: -webkit-inline-box;
  display: inline-flex;
  background: #313e50;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.tasker-header input,
.tasker-header button {
  color: #fff;
  box-sizing: border-box;
  font-size: 1.25em;
  padding: 14px;
}

.tasker-header input {
  -webkit-box-flex: 2;
          flex-grow: 2;
}

.tasker-header button {
  background: #1dd2af;
  border-left: 1px solid #1eddb8;
}

.tasker-header button:hover {
  background: #20e7c1;
}

.tasker-body .task {
  display: block;
  position: relative;
  padding: 14px 40px 14px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasker-body .task:last-child {
  border-bottom: none;
}

.tasker-body .task:hover > button {
  opacity: 1;
}

.tasker-body .task.completed {
  color: #cdcdcd;
  text-decoration: line-through;
}

.tasker-body .task input {
  margin-right: 10px;
}

.tasker-body .task button {
  color: #cdcdcd;
  margin: 14px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.tasker-body .task button:hover {
  color: #ed1c24;
}

#title {
  background-color: black; 
  height: 100px;
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  padding-top: 40px;
  margin-bottom: 50px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

#background {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
  transition: 2s;
  opacity: 1s;
  margin-bottom: 100px;
}

#navbar {
  height: 20%;
  width: 100%;
  margin: auto;
  padding-top: 0;
  font-size: 50px;
  display: flex;
  background-image: url(imgs/footer.png);
  background-size: cover;
  margin-bottom: 70px;
}

.navcontent {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Cabin Condensed', sans-serif;
}

.navlink{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  width: 250px;
}

.navlink:hover {
  transform: scale(1.2);
}

#logout {
  margin-top: 50px;
  background-color: whitesmoke;
  cursor: pointer;
  outline: none;
  border: 0px;
  border-radius: 100px;
  height: 45px;
  width: 180px;
  color: white;
  font-weight: bold;
  font-family:  'Roboto', sans-serif;
  transition: all 0.3s;
  font-size: 25px;
  float: right;
}

#logout:hover {
  transform: scale(1.2);
}
#footer{
  background-color: black;
  height: 200px;
  justify-content: flex-end;
  margin-bottom: 0;
  background-image: url(imgs/footer.png);
  background-size: cover;
}

.sub-footer1 {
  width: 30%; 
  font-size: 15px; 
  display: inline-block; 
  color: white; 
  vertical-align: top;  
  padding-top: 35px; 
  text-align: left; 
  padding-right: 30px; 
  padding-left: 50px;
}

.sub-footer2 {
  width: 20%; 
  font-size: 15px; 
  display: inline-block; 
  color: white; 
  vertical-align: top;  
  padding-top: 35px; 
  text-align: left; 
  padding-right: 30px; 
  padding-left: 50px;
}

.sub-footer3 {
  width: 20%; 
  font-size: 15px; 
  display: inline-block; 
  color: white; 
  vertical-align: top;  
  padding-top: 35px;
  text-align: center;
}

.sub-footer4 {
  width: 10%; 
  height: 100%;
  display: inline-block; 
  color: white; 
  vertical-align: top;  
  padding-top: 35px;
  text-align: end;
}

.sub-footer4:hover {
  transform: scale(1.2);
}

.footerpics {
  height: 35px;  
  width: 35px;
  padding-right: 5px; 
}